.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    .top{
        display: flex;
        flex-direction: row;
        h3{
            color: #0d6efd;
            margin-left: 105px;
        }
        Button{
            margin-left: 51%;
        }
    }
    .mid{
        display: flex;
        justify-content: center;
        .wrapper-table{
            margin: 20px 20px;
            width: 900px;
            max-height: 590px;
            overflow-y: scroll;
            display: flex;
            justify-content: center;
            .table{
                border-collapse: collapse;
                background-color: rgb(255, 255, 255, 0.1);
                border-radius: 10px;
                thead{
                    position: sticky;
                    top: 0;
                    border-radius: 10px;
                    th{
                        font-size: 20px;
                        height: 60px;
                        padding: 0 40px;
                        text-align: start;
                        color: #cf5b09;
                        background-color: rgb(252, 253, 253);
                    }
                }
                .tr{
                    height: 60px;
                    td {
                        border-bottom: 1px solid black;
                        text-align: start;
                        font-size: 20px;
                        padding: 0 20px;
                        .quatity{
                            width: 100%;
                        }
                      }
                }
            }
        }
    }
    .botton{
        display: flex;
        flex-direction: row;
        justify-content: end;
        Button{
            margin-right: 135px;
        }
        input{
            border-radius: 5px;
            color: #0d6efd;
            outline: none;
            font-size: 18px;
        }
    }
}